<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">

<title>Clínica Veterinária</title>
</head>
<body>
	<div th:replace="~{menu :: menu}"></div>
	<div class="container">

		<h1>Detalhes da Clínica</h1>

		<div class="row">
			<div class="col s12">
				<div class="card ">
					<div class="card-content">
						<span class="card-title">Cliníca Veterinária</span>
						<p>
							<strong>Id:</strong> <span th:text="${clinica.id}">1</span>
						</p>
						<p>
							<strong>Nome:</strong> <span th:text="${clinica.nome}">Ana
								Karol</span>
						</p>
						<p>
							<strong>CRMV:</strong> <span th:text="${clinica.crmv}">123456</span>
						</p>
						<p>
							<strong>Data do Plantão:</strong> <span
								th:text="${clinica.dataPlantao}">12/02/2023</span>
						</p>
					</div>
				</div>
			</div>
		</div>
		
			<div class="row">
			<div class="col s12">
				<div class="card ">
					<div class="card-content">
						<span class="card-title">Adicionar Paciente:</span>
						<form th:action="@{/clinica/{idClinica}(idClinica=${clinica.id})}" method="post">
						<div>
						<input type="hidden" name ="id" th:value="${paciente.id}" readonly="readonly">
						</div>
							<div>
							<label>Nome: </label> <input type="text" name="nome" th:value="${paciente.nome}">
							</div>
							<div>
							<label>Idade: </label> <input type="text" name="idade" th:value="${paciente.idade}">
							</div>
							<div>
							<label>Espécie: </label> <input type="text" name="especie" th:value="${paciente.especie}">
							</div>
							<div>
							<label>Data de atendimento: </label> <input type="text" name="dataAtendimento" th:value="${paciente.dataAtendimento}">
							</div>
							<div>
							<label>Hora do atendimento: </label> <input type="text" name="horaAtendimento"  th:value="${paciente.horaAtendimento}" >
							</div>
							<div>
							<button type="submit" class="btn">Salvar</button>
							<button type="reset" class="btn">Limpar</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col s12">
				<div class="card ">
					<div class="card-content">
						<span class="card-title">Pacientes</span>
						<table class="highlight">
						<thead>
						<tr>
						<th>Id</th>
						<th>Nome</th>
						<th>Idade</th>
						<th>Espécie</th>
						<th>Data de atendimento</th>
						<th>Hora de atendimento</th>
						</tr>
						</thead>
						<tbody>
						<tr th:each="c : ${pacientes}">
						<td th:text="${c.id}">1</td>
						<td th:text="${c.nome}">Bob</td>
						<td th:text="${c.idade}">2</td>
						<td th:text="${c.especie}">Canina</td>
                          <td th:text="${c.dataAtendimento}">12/02/2023</td>
                          <td th:text="${c.horaAtendimento}">09:00</td>
                          
                      <td>
                      
                      <a th:href="@{/clinica/{idClinica}/pacientes/{idPaciente}/selecionar(idClinica=${clinica.id}, idPaciente=${c.id})}"><i class="material-icons">edit</i> </a>
                      
                      <a th:href="@{/clinica/{idClinica}/pacientes/{idPaciente}/remover(idClinica=${clinica.id}, idPaciente=${c.id})}"><i class="material-icons">delete</i> </a>
                      
                      
                      </td>
                 
                         
                          
						</tr>
						</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>


	</div>
</body>
</html>