<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">

<title>Clínica Veterinária</title>
</head>
<body>
	<div th:replace="~{menu :: menu}"></div>
	<div class="container">

		<h1>Lista da Clínica</h1>

		<table class="highlight">

			<thead>
				<tr>
					<th>Id</th>
					<th>Nome do veterinário</th>
					<th>CRMV</th>
					<th>Data do plantão</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="c : ${clinica}">
					<td th:text="${c.id}">1</td>
					<td><a th:href="@{/clinica/{id}(id=${c.id})}"> <span
							th:text="${c.nome}">Ana</span></a></td>
					<td th:text="${c.crmv}">1234</td>
					<td th:text="${c.dataPlantao}">12/02/2023</td>
					<td><a th:href="@{/clinica/{id}/remover(id=${c.id})}"><i class="material-icons">delete</i></a></td>
				</tr>
			</tbody>
		</table>


	</div>
</body>
</html>